@import "tailwindcss";

:root {
  --color-primary: #71ddae;
  --color-secondary: #2a9d7a;
  --color-dark: #1c1c1c;
  --color-light: #ffffff;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-white);
  font-family: Arial, Helvetica, sans-serif;
}
